<h1><%= t 'common.header.editing_book' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('common.edit_link'), @book %> |
  <%= link_to t('common.back_to_books'), books_path %>
</nav>
